/* ----------------- index ----------------- */
@import url("https://fonts.googleapis.com/css2?family=Murecho&family=Poppins:wght@400;600;700&display=swap");
body {
  font-family: "Murecho", sans-serif;
  font-size: 14px;
  color: #272727;
  line-height: 1.4;
  min-width: 900px;
}
@media screen and (max-width: 767px) {
  body {
    min-width: auto;
  }
}

img {
  width: 100%;
  height: auto;
}

.index {
  background: #F8F8F8;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 70px;
  border-bottom: 2px #272727 solid;
}
@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
}
.header__ttl {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1em;
  width: calc(100% - 90px);
  padding-left: 30px;
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .header__ttl {
    width: calc(100% - 70px);
    font-size: 24px;
    padding-left: 20px;
  }
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  height: 100%;
  border-left: 2px #272727 solid;
}
@media screen and (max-width: 767px) {
  .header__btn {
    width: 70px;
  }
}
.header__nav {
  display: none;
}

.mv {
  position: relative;
  height: 400px;
  background: url("/me/img/img_mv_pc.png") no-repeat center/cover;
}
@media screen and (max-width: 767px) {
  .mv {
    height: 553px;
    background: url("/me/img/img_mv_sp.png") no-repeat center/cover;
  }
}
.mv__txt {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1em;
  position: absolute;
  top: 220px;
  left: 10%;
  font-size: 44px;
  color: #022B53;
}
@media screen and (max-width: 767px) {
  .mv__txt {
    top: 170px;
    left: 20px;
    font-size: 42px;
  }
}

.about {
  padding: 120px 0;
  background: url("/me/img/about_bg_01.svg") no-repeat -110px 60px/570px 490px, url("/me/img/about_bg_02.svg") no-repeat 120% 250px/580px 580px;
}
@media screen and (max-width: 767px) {
  .about {
    padding: 80px 0;
    background: url("/me/img/about_bg_01.svg") no-repeat 10px -60px/580px 500px;
  }
}
.about__inner {
  width: 900px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media screen and (max-width: 767px) {
  .about__inner {
    width: 100%;
  }
}
.about__ttl {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1em;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1;
  font-size: 60px;
  color: #022B53;
}
@media screen and (max-width: 767px) {
  .about__ttl {
    top: -0.6em;
    left: 5px;
    font-size: 52px;
  }
}
.about__wrap {
  width: 835px;
}
@media screen and (max-width: 767px) {
  .about__wrap {
    width: calc(100% - 20px);
  }
}
.about__wrap__img {
  margin-bottom: 20px;
}
.about__wrap__detail__txt {
  margin-bottom: 40px;
}
@media screen and (max-width: 767px) {
  .about__wrap__detail__txt {
    margin-right: 20px;
  }
}
.about__wrap__detail__loves > dt {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1em;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
}
.about__wrap__detail__loves > dd:before {
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: -10px;
  right: 0;
  z-index: 1;
  border-top: 1px #272727 solid;
  width: calc(100% - 75px);
}
@media screen and (max-width: 767px) {
  .about__wrap__detail__loves > dd:before {
    width: calc(100% - 75px);
  }
}
.about__wrap__detail__loves > dd {
  position: relative;
  padding: 10px 10px 13px;
  border-bottom: 1px #272727 solid;
}

.skills {
  padding: 80px 0;
  background: #022B53;
}
@media screen and (max-width: 767px) {
  .skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.skills__inner {
  width: 900px;
  margin: 0 auto;
  position: relative;
}
@media screen and (max-width: 767px) {
  .skills__inner {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .skills__inner {
    width: calc(100% - 20px);
    margin: initial;
  }
}
.skills__ttl {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1em;
  position: absolute;
  top: -30px;
  left: 0;
  z-index: 1;
  font-size: 60px;
  color: #F77272;
}
@media screen and (max-width: 767px) {
  .skills__ttl {
    top: -0.5em;
    left: -15px;
    font-size: 52px;
  }
}
.skills__skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 60px 60px 30px 60px;
  border-radius: 20px 20px 0 0;
  background: #fff;
}
@media screen and (max-width: 767px) {
  .skills__skill {
    display: block;
    padding: 60px 20px 30px 20px;
    border-radius: 10px 0 0 0;
  }
}
.skills__learning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 60px 60px 60px;
  border-radius: 0 0 20px 20px;
  background: #F5F5F4;
  position: relative;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .skills__learning {
    display: block;
    padding: 20px 20px 60px 20px;
    border-radius: 0 0 0 10px;
  }
}
.skills__learning:after {
  content: "";
  background: url(/me/img/img_code.svg) no-repeat 0 0/310px 275px;
  position: absolute;
  top: 10px;
  right: 90px;
  width: 310px;
  height: 275px;
}
@media screen and (max-width: 767px) {
  .skills__learning:after {
    display: none;
  }
}
.skills__item {
  width: 48%;
}
@media screen and (max-width: 767px) {
  .skills__item {
    width: 100%;
    margin-bottom: 30px;
  }
  .skills__item:last-of-type {
    margin-bottom: 0;
  }
}
.skills__item__ttl {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1em;
  margin-bottom: 15px;
  font-size: 26px;
}
.skills__item__ttl--skill {
  color: #272727;
}
.skills__item__ttl--learning {
  color: #022B53;
}
.skills__item__list {
  margin-bottom: -10px;
  font-size: 0;
}
.skills__item__list > li {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1em;
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 7px 20px;
  border-radius: 3px;
  font-size: 14px;
}
.skills__item__list--skill > li {
  color: #fff;
  background-color: #FCCC93;
}
.skills__item__list--learning > li {
  color: #022B53;
  background-color: #fff;
}

.works {
  display: none;
}

.footer {
  padding: 50px 0 35px;
  text-align: center;
  background: #272727;
}
.footer__social {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__social > li {
  width: 45px;
  margin: 0 15px;
}
.footer__licence {
  font-size: 12px;
  color: #959595;
}